

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 86px;
  }
}

.navbar{
  padding: .7rem 1rem !important;
}
.logo{
    max-width: 45px;
    width: 45px;
}
.bg-legal{
    background-color: #8a8e8f;
}

.bgGrey{
  background-color: #f0f1f4;
}
.lap-lbl12{
  font-size: 12px;
  color: gray;
}
.lap-lbl14{
  font-size: 14px;
  color: gray;
}
.lbl-clave{
  text-decoration: underline;
  cursor: pointer;
}

.lbl-link{
  color: #0852e4;
  text-decoration: underline;
  cursor: pointer;
}

  /*-------BOTONES ------------*/

.lgapp-primary{
    background-color: #656c72;
    color: white;
    border-color: #656c72;
}

.lgapp-secondary{
    background-color: #C1262E;
    color: white;
    border-color: #C1262E;
}

.lgapp-foot{
    background-color: #8a8e8f;
    color: white;
    border-color: #8a8e8f;
}

.lgapp-primary{
    background-color: #656c72;
    color: white;
    border-color: #656c72;
}
.btn-lgapp-primary{
    background-color: #656c72;
    color: white;
    border-color: #656c72;
}

.btn-lgapp-secondary{
    background-color: #C1262E;
    color: white;
    border-color: #C1262E;
}

.lgapp-fb{
    background-color: #3b5998;
    color: white;
    border-color: #3b5998;
}

.porpagar{
  background-color: #b7b7b7;
  border-color: #b7b7b7;
  color: white; 
}

.cancelada{
  background-color: #e51d09;
  border-color: #e51d09;
  color: white; 
}
.porresponder{
  background-color: orange;
  border-color: orange;
  color: white; 
}
.SinRespuesta{
  background-color: #525252;
  border-color: #525252;
  color: white; 
}
.Recibiendo{
  background-color: #43ccac;
  border-color: #43ccac;
  color: white; 
}
.contestada{
  background-color: #1db352;
  border-color: #1db352;
  color: white; 
}

.btnlg-s{
  width: 60px;
}
.btnlg-m{
  width: 120px;
}
.btnlg-l{
  width: 180px;
}
.lblestado{
  padding: 1px 12px;
  border-radius: 20px;
}
  /*primary:    #656c72,
  lightprimary: #EDE7F6,
  danger:     #f53d3d,
  dark:       #525252,
  lightdark:  #b7b7b7,
  light:      #f8f8f8,
  facebook:   #3b5998,
  azullegal: #656c72,
  rojolegal: #e51d09,
  aprobado: #1db352,


/*--------titulo--------------------*/

.titulo{
  color: #C1262E;
  font-size: 2.2rem;
  font-weight: 700;
}
.subtitulo{    
    color: #656c72;
    font-size: 1.4rem;
    font-weight: 600;
    border-bottom: solid 1px !important;
    padding-bottom: 5px;
    padding-top: 20px;
    
}
/*---------------MENU TOP -------------*/

.menu-top{
  width: 100px;
  position: relative;
  top:20px;
}
.menu-top a{
    text-align: center; /* Center-align text */
     /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 12px;
      font-weight: 100;
    /*margin-top: -8px;
    margin-bottom: -8;
        padding: 10px;*/
}
.menu-top a i{
    font-size: 16px;
}
.menu-top a:hover{
  background-color: #c3c3c3;
}
.menu-top.active{
  background-color: #fff;   
  border-bottom-color: #C1262E !important;
  border-bottom: solid;
  /*margin-top: -8px;
  margin-bottom: -8;
      padding: 10px;*/
}
.menu-top.active a{
  color: #C1262E !important;

  border-bottom-color: #C1262E !important;
}

/*----------menu side -----------------*/

.menu-side{
  color:grey !important;

}
.menu-side a{
  color: #656c72 !important;

}
.menu-side a.active{
  color: white !important;
  background-color:#C1262E !important;
  border-color: #C1262E !important;
}


/*login*/
.form-group{
  margin-bottom: 0.5rem !important;
}
* {
  transition: all .3s ease 0s;
}
/* Background colours */
.divi article:nth-child(1) {
  background: #8a8888;
}
.divi article:nth-child(2) {
  background: #C1262E;
}
/* Main layout */

.divi {
  width: 100vw;
  height: 100vh;
}
.divi {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: hidden;
  top: -9px;
}
/* Articles */
.divi article {
  flex: initial;
  width: 50%;
  height: 100%;
  text-align: center;
  /*color: #fff;*/
  padding-top: 20%;
  text-decoration: none;
  vertical-align: bottom;
  box-sizing: border-box;
  /*padding: 2vh 1vw;
  position: relative;*/
}
/* Big Headings */
/*body > div:first-child {
  position: fixed;
  bottom: 8vh;
  width: 100%;
  text-align: center;
  padding: .5rem;
  z-index: 2;
}*/

/* Hover interaction */
/*.divi:hover article {
  flex: initial;
  width: 20%;
  padding-top: 10%;
}
.divi article:hover {
  width: 80%;
  
}*/
article.activa{
  width: 80%;
  padding-top: 8%;
  transition: opacity .3s ease .3s;
}
article.activa img{
  width: 70px;
}
article.activa div{
  opacity: 1;
  transition: opacity .3s ease .3s;
}
article.inactiva{
  flex: initial;
  width: 20%;

}
article > div {
  opacity: 0;
  transition: opacity .2s ease 0;
}
/*.divi article:hover > div {
  opacity: 1;
  transition: opacity .3s ease .3s;
}*/
/*.divi article:hover > row .panel-login {
  width: 10px;
  
	background-color: red !important;
  transition: opacity .3s ease .3s;
}*/
/* navigation */
div + div article > h2 {
  /*bottom: 2vh;
  position: absolute;*/
  /*text-align: center;
  width: 100%;
  margin: 0;
  font-size: 3vh;*/
}
/* Article layouts */
article div {
  text-align: left;
  /*width: 58vw;*/
}
article div p,
article div div h2,
article h3, article h6 {
  /*margin: 0 0 1em 0;*/
  color:white;
}

article div p {
  width: 40vw;
}
/*@media (max-width: 900px) {
  div + div article {
    padding: 2vh 3vw;
  }
  div + div article > h2 {
    transform: rotate(90deg);
    bottom: 23vh;
    min-width: 12em;
    text-align: left;
    transform: rotate(-90deg);
    transform-origin: 0 0 0;
    opacity: 1;
  }
  div + div article:hover > h2 {
    opacity: 0;
  }
  article div p {
    width: 50vw;
  }
  article div {
    max-height: calc(72%);
    overflow-y: auto;
  }
}*/

.panel-login {
	border-color: #ccc;
	background-color: white;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.divi .panel-login:hover {
  /*width: 100%;*/
}
.pestana {
	padding: 15px;
	background-color: #C1262E ;
	text-align:center;
}
.pestana.activa {
	padding: 15px;
	background-color: white;
	text-align:center;
}
.pestana.activa > a{
  color: black !important;
  text-decoration: none;
}
.pestana > a{
  color: white !important;
  text-decoration: none;
}

/*profesionales destacados*/

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

   -webkit-overflow-scrolling: touch;
}
.card {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none !important;
    color: black !important;
}
.card.destacado{
  text-align: center;
  padding: 5px;
  color: grey !important;
  height: 18rem !important;
  border-radius: 10px;
}
.card.destacado img{
    border-radius: 50% !important;
    width: 150px ;
    height: 150px ;
}
.card.destacado.imgpremium img {
  position: absolute;
    width: 30px !important;
    height: 30px !important;
    top: 115px;
    right: 25px;
}
.card.destacado .card-body{
    padding: 2px !important;
}
.card.destacado .card-body .card-title{
    height: 38px !important;
    padding: 2px;
}
.imglist{
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
    padding: 10px;
}
.title-list{
  font-size: 1.2rem;
  padding-top: 10px !important;
  font-weight: 100 !important;
}
.detail-list{
  font-size: 12px;
  padding: 2px;
  color: grey !important;
}

/*-------- modal consultas ----------*/

.modal-msj{
  font-size: 11px;
  font-style: italic;
  color:grey;
  text-align: center;
}
.modal-msj .info{
    text-align: right !important;
    margin-bottom: 10px;
    margin-top: -12px;
}
.modal-msj .negrita{
  font-weight: bold;
}

/*-----------div header -------------*/

.divhead{
  background-color: white;
  border-bottom: solid 4px;
  border-bottom-color: #C1262E ;
  margin-bottom: 20px;
}

/*-----------chat----------------*/
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 50%;
}
.panel-body-chat
{
    overflow-y: scroll;
    height: 70%;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.img-circle{
  border-radius: 50%;
  width: 50px;
}

.legal-input{
      width: 100%;
    margin: 5px;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    border-color: lightgray;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*premium*/

.borderPremium {
  border:solid 2px;
  border-color: goldenrod;
}

.imgpremium img{
  position: absolute;
    width: 30px !important;
    height: 30px !important;
    top: 115px;
    right: 25px;
}



/*rating*/
.star-rating {
  line-height:2px;
  font-size:3em;
}

.star-rating .fa-star{color: goldenrod;}
.star-rating .fa-star-o{color: grey;}

.loading-overlay {
  display: table;
  opacity: 0.7;
}

.loading-overlay-content {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 1.15em;
  font-weight: bold;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.loading-overlay.loading-theme-light {
  background-color: #fff;
  color: #000;
}

.loading-overlay.loading-theme-dark {
  background-color: #000;
  color: #fff;
}

.precio{
  font-size: 2.2em !important;
  font-weight: 200;
  color: grey;
}

.error{
  width: 100%;
  text-align: center;
  font-size: 2.2em !important;
  font-weight: 200;
  color: grey;
}

.card2 {
  border: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  transition: all .3s ease-in-out;
  padding: 2.25rem 0;
  will-change: transform;
  position: relative;
}
.card2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #C1262E;
  transition: 0.5s;
}
.card2:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}
.card2:hover:after {
  width: 100%;
}
.card2 .card-header {
  background-color: white;
  padding-left: 1.5rem;
  border-bottom: 0px;
}
.card2 .card-title {
  color:#C1262E;
  /*background-color: #C1262E;*/
  margin-bottom: 1rem;
}
.card2 .card-block {
  padding-top: 0;
  text-align: center;
}
.card2 .list-group-item {
  border: 0px;
  padding: .25rem;
  color: #808080;
  font-weight: 300;
}

.display-2 {
  font-size: 4rem;
  letter-spacing: -.4rem;
}
.display-2 .currency {
  font-size: 1.5rem;
  position: relative;
  font-weight: 400;
  top: -45px;
  letter-spacing: 0px;
}
.display-2 .period {
  font-size: 1rem;
  color: #b3b3b3;
  letter-spacing: 0px;
}

.btn {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 500;
  color: white;
  border-radius: 0;
  padding: .75rem 1.25rem;
  letter-spacing: 1px;
}

.btn-gradient {
  background-color: #f2f2f2;
  color:#C1262E;
  transition: background .3s ease-in-out;
}
.btn-gradient:hover {
  color: white;
  background-color: #C1262E;
}

/*grid*/
.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}
.flex-text {
	flex-grow: 1;
}
.flex-row img {
	min-width: 0;
	width: 100%;
}
.file{
  /*border: solid 1px;*/

}

textarea{  
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  /*padding:10px;
  margin:50px auto;*/
  border-radius:10px;
  /*border:6px solid #556677;*/
}