
$colors: (
  primary:    #656c72,
  lightprimary: #EDE7F6,
  secondary:  yellow,
  danger:     #f53d3d,
  dark:       #525252,
  lightdark:  #b7b7b7,
  light:      #f8f8f8,
  extralight: #fff,
  facebook:   #3b5998,
  azullegal: #656c72,
  rojolegal: #e51d09,
  aprobado: #1db352,

  twitter:    #429cd6,
  gmail:      #df4b37,
  bg  :       #f1f4f5,
  lightbg  :  #f8f8f8,
  bordercolor: rgba(183, 183, 183, 0.39),

  // estados
  porResponder: orange,
  recibiendo: #43ccac,

);

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


.lgapp-primary{
    background-color: #656c72;
    color: white;
    border-color: #656c72;
}
.logo{
    max-width: 45px;
    width: 45px;
}
.bg-legal{
    background-color: #95999a;
}


/*login*/

* {
  transition: all .3s ease 0s;
}
/* Background colours */
.divi article:nth-child(1) {
  background: #8a8888;
}
.divi article:nth-child(2) {
  background: #C1262E;
}
/* Main layout */

.divi {
  width: 100vw;
  height: 100vh;
}
.divi {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: hidden;
}
/* Articles */
.divi article {
  flex: initial;
  width: 50%;
  height: 100%;
  text-align: center;
  /*color: #fff;*/
  padding-top: 10%;
  text-decoration: none;
  vertical-align: bottom;
  box-sizing: border-box;
  /*padding: 2vh 1vw;
  position: relative;*/
}
/* Big Headings */
body > div:first-child {
  position: fixed;
  bottom: 8vh;
  /*background: #fff;*/
  width: 100%;
  text-align: center;
  padding: .5rem;
  z-index: 2;
}

/* Hover interaction */
.divi:hover article {
  flex: initial;
  width: 20%;
  padding-top: 5%;
}
.divi article:hover {
  width: 80%;
  
}
article > div {
  opacity: 0;
  transition: opacity .2s ease 0;
}
.divi article:hover > div {
  opacity: 1;
  transition: opacity .3s ease .3s;
}
/*.divi article:hover > row .panel-login {
  width: 10px;
  
	background-color: red !important;
  transition: opacity .3s ease .3s;
}*/
/* navigation */
div + div article > h2 {
  /*bottom: 2vh;
  position: absolute;*/
  /*text-align: center;
  width: 100%;
  margin: 0;
  font-size: 3vh;*/
}
/* Article layouts */
article div {
  text-align: left;
  /*width: 58vw;*/
}
article div p,
article div div h2,
article h3, article h6 {
  /*margin: 0 0 1em 0;*/
  color:white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*text-transform: uppercase;*/
}
article div p {
  width: 40vw;
}
/*@media (max-width: 900px) {
  div + div article {
    padding: 2vh 3vw;
  }
  div + div article > h2 {
    transform: rotate(90deg);
    bottom: 23vh;
    min-width: 12em;
    text-align: left;
    transform: rotate(-90deg);
    transform-origin: 0 0 0;
    opacity: 1;
  }
  div + div article:hover > h2 {
    opacity: 0;
  }
  article div p {
    width: 50vw;
  }
  article div {
    max-height: calc(72%);
    overflow-y: auto;
  }
}*/

.panel-login {
	border-color: #ccc;
	background-color: white;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.divi .panel-login:hover {
  /*width: 100%;*/
}
.pestana {
	padding: 15px;
	background-color: red;
	/*border-color: #fff;*/
	text-align:center;
}
.pestana.activa {
	padding: 15px;
	background-color: white;
	/*border-color: #fff;*/
	text-align:center;
}
.pestana.activa > a{
  color: black !important;
  text-decoration: none;
}
.pestana > a{
  color: white !important;
  text-decoration: none;
}